<div class="container">
  <div class="row">
    <div class="col">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title">
            Sign up for an organization
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>
