<div class="list-group-item">
  <h4 class='list-group-item-heading'>
    <%= shift.job.title %>
  </h4>
  <%= link_to "#{show.date}: #{show.headliner} @ #{show.venue.name}", show_path(show) %>
</div>
