<div class='jumbotron'>
  <h1>Welcome to ShiftSlot</h1>
  <p>
    ShiftSlot is a place for volunteers and workers to sign up for shifts at some Seattle music venues. <%= link_to 'Log in', login_path %> or <%= link_to 'Sign up', new_user_registration_path %> above to get started.
  </p>

  <p>
    Looking to use ShiftSlot for your organization? <%= link_to 'Click here', new_organization_path %> to get started.
  </p>
</div>
