<div class="container">
  <div class="row">
    <div class='jumbotron'>
      <h1>Welcome to ShiftSlot</h1>

      <p>
        ShiftSlot is a place for volunteers and workers to schedule shifts available for work at some Seattle music venues. Sign in, or sign up above to get started.
      </p>
    </div>
  </div>
</div>
