<div class="container">
  <div class="row">
    <% if current_user %>
      <h3>
        Dashboard
      </h3>
      <div class="panel-body">
        <div class="panel-info">
          <div class="panel-heading">
            <h3 class=panel-title>
              my upcoming shows
            </h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <% current_user.shows.each do |show| %>
                <div class="list-group-item">
                  <% show.shifts.each do |shift| %>
                    <% if shift.user_id == current_user.id %>
                      <%= shift.job.title %>
                    <% end %>
                  <% end %>
                  <%= link_to "#{show.date}: #{show.headliner} @ #{show.venue.name}", show_path(show) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class='jumbotron'>
        <h1>Welcome to ShiftSlot</h1>
        <p>
          ShiftSlot is a place for volunteers and workers to sign up for shifts at some Seattle music venues. <%= link_to 'Sign in', user_session_path %> or <%= link_to 'Sign up', new_user_registration_path %> above to get started.
        </p>
      </div>
    <% end %>
  </div>
</div>
