<form action="users/search" method="post">
  <%= hidden_field_tag "show_id", value = show.id %>
  <%= text_field_tag "search", value = nil, placeholder: 'Type your search here', id: 'worker-search' %>
</form>
