<div class="container well well-lg">
  <h2>
    <%= @user.name.titleize %>'s Permissions
  </h2>
  <div class="row">
    <div class="col-lg-4">
      <% if current_user.admin_for?(@user) %>
        <%= render partial: 'permissions' %>
      <% end %>
    </div>
    <div class="col-lg-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">Work Availability</h3>
        </div>
        <div class="panel-body">
          <div>
            Click a day to change your availability:
            <div>
              <span class='green'>Green = you'd prefer to work that day</span>
            </div>
            <div>
              <span class="red"> Red = You can't work that day</span>
            </div>
            <div>
              Leave it blank if you could go either way
            </div>
          </div>
          <div id='daysContainer'>
            <% @user.preferred_days.order(:created_at).each do |day| %>
              <%= render partial: '/preferred_days/day_form', locals: {day: day, user: @user} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
