<h2>Workers</h2>
<table>
    <tr>
      <th>
        name
      </th>
      <th>
        email
      </th>
      <th>
        authorized jobs
      </th>
    </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user_path(user.id) %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <% user.jobs.each do |job| %>
          <%= job.title %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
