<div class="container">
  <div class="row">
    <div class="panel panel-warning">
      <div class="panel panel-heading">
        <h2 class='panel-title'>Workers</h2>
      </div>
        <table class='table'>
            <tr>
              <th>
                Name
              </th>
              <th>
                Authorized Jobs
              </th>
              <th>
                Preferred Days
              </th>
              <th>
                Unavailable Days
              </th>
            </tr>
          <% @users.each do |user| %>
            <tr>
              <td>
                <%= link_to user.name, user_path(user.id) %>
              </td>
              <td>
                <% user.jobs.each do |job| %>
                  <%= job.title %>
                <% end %>
              </td>
                <%= render partial: 'preferred_days/index', locals: {user: user}%>
            </tr>
          <% end %>
        </table>

      </div>
    </div>

</div>
