<ul class='list-group'>
  <% if shifts.empty? %>
    No one is scheduled to work yet. Click the + up above to schedule someone.
  <% else %>
    <% shifts.each do |shift| %>
      <li class='list-group-item'>
        <%= shift.user.name %>: <%= shift.job.title %> <%= link_to '', shift_path(shift), class: 'glyphicon glyphicon-remove red', method: :delete %>
      </li>
      <% end %>
  <% end %>
</ul>
