<div class="container">
  <div class="row">
    <div class="col-med-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title heading">
            <h2>Create a new Venue</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
