<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for creating a ShiftSlot organization</h1>
    <p>
      Just a couple more steps to finish setting up:
      <ol>
        <li>
          Follow this link
        </li>
        <li>
          Enter this code on that page
        </li>
        <li>
          Register your admin account 
        </li>
      </ol>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
