<div class="panel panel-success">
  <div class="panel-heading">
    <h4>The following shows have been successfully imported from your google calendar:</h4>
  </div>
  <div class="panel-body">
      <% @google_shows[:shows].each do |show| %>
      <li class='list-group-item'>
        <ul class='list-group'>
          <li class='list-group-item'>
            <h4>
              <%= show.readable_date %>
            </h4>
            <% if show.venue %>
            <div class='list-group-item-heading'>
              <%= show.info %> @ show.venue
            </div>
            <% else %>
            <h4 class='list-group-item-heading'>
              <%= show.info %>
            </h4>
            <% end %>
          </li>
          <% if show.readable(show.start) == "12:00AM" %>
          <li class='list-group-item list-group-item-warning'>
            <p>
              This show is set as an all day event in Google Calendar and it's start and end times will have to be set manually within this app. In the meantime it'll be set to 12:00am
            </p>
          <% else %>
            <li class='list-group-item'>
              <%= show.readable(show.start) %>
          <% end %>
            </li>

          </ul>
        </li>
        <% end %>
    </div>
  </div>
