<td>
  <% user.preferred_days.order(:created_at).each do |day| %>
    <% if day.preferred %>
      <%=  day.name[0..1] %>
    <% elsif day.preferred == false %>
      <span class='red'><%= day.name[0..1] %></span>
    <% end %>
  <% end %>
</td>
