#title, h2{
  font-family: 'Bowlby One SC', cursive;
  font-size: 2em;
}
#top {
  margin-top: 0;
  padding: .5em;
}
table, a, button, .day {
  font-family: 'Source Code Pro', monospace;
}

.inline{
  display: inline;
}

.red{

  color: red;
}

.green{
  color: #36d834;
}

.scroll-panel {
  overflow-y: scroll;
  height: 15em;
}
