<div class="container">
  <div class="jumbotron">
    <h1>You're almost there!</h1>
    <p>Your organization has been created. Check your email for a link to follow to finish sign up. In that email will also be a code that you'll need to finish registration.</p>
  </div>
</div>
