<div class="container">
  <div class="row">
    <div class="panel">
        <div class="panel-heading">
          <div class="panel-title">
            Next week for <%= @org.name %>
          </div>
        </div>
    </div>
  </div>
</div>
