<tr>
  <td>
    <%= link_to show.date, [show.venue, show] %>
  </td>
  <td>
    <%= show.readable(show.doors) %>
  </td>
  <td>
    <%= show.readable(show.start) %>
  </td>
  <td>
    <%= show.readable(show.show_end) %>
  </td>
  <td>
    No
  </td>
</tr>
