<% if show.staffed? %>
  <div>
    <%= link_to "#{show.headliner} on #{show.date} at #{show.venue.name}", show_path(show), class: 'green' %>
  </div>
  <% else %>
  <div>
    <%= link_to "#{show.headliner} on #{show.date} at #{show.venue.name}", show_path(show), class: 'red' %>
  </div>
<% end %>
