<div class="container">
  <div class="row">
    <%= link_to 'back to venues', venues_path %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class='panel-title'>
          <%= @venue.name %>'s Shows
        </h2>
      </div>
      <table class='table'>
        <tr>
          <th>
            Date
          </th>
          <th>
            Headliner
          </th>
          <th>
            Doors
          </th>
          <th>
            Start
          </th>
          <th>
            End
          </th>
          <th>
            Staffed?
          </th>
        </tr>
        <% @shows.each do |show| %>
          <%= render partial: 'info', locals: {show: show} %>
        <% end %>
      </table>

    </div>

  </div>
</div>
