<h1>shows</h1>

<%= month_calendar events: @shows do |date, shows| %>
  <%= date %>
    <% shows.each do |show| %>
      <% if show.staffed? %>
      <div>
        <%= link_to "#{show.headliner} @ #{show.venue.name}", show_path(show), class: 'green' %>
      </div>
      <% else %>
      <div>
        <%= link_to "#{show.headliner} @ #{show.venue.name}", show_path(show), class: 'red' %>
      </div>
      <% end %>
    <% end %>
<% end %>
